@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

:root {
    font-family: "DM-sans", sans-serif;
}


* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #181a20;
    background-image: url(https://cdn.discordapp.com/attachments/185046628732895232/204497752091000832/bg3.svg);
    background-size: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 20px
}

::-webkit-scrollbar-track {
    background-color: initial
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box
}


button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
}

.app {
    position: relative;
    background-color: #1f2128;
    width: 420px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(40, 42, 53, 0.28);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 420px) {
    .app {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.cover {
    position: relative;
    width: 100%;
    height: 160px;
    background-image: url("https://i.pinimg.com/originals/0d/7d/7f/0d7d7fe209f143a886224e15f0389f66.gif");
    background-size: cover;
    background-position: center -40px;
    padding-top: 70px;
    background-repeat: no-repeat;
}

.artist {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url("https://avatars.githubusercontent.com/u/107312482?v=4");
    background-size: cover;
    border: 7px solid #1f2128;
}

.cover-title {
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.cover-title p {
    margin: 0;
}

.title {
    font-size: 24px;
    line-height: 32px;
}

.sub-title {
    font-size: 14px;
    line-height: 16px;
}

.btn {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-search {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #1f2128;
    padding: 8px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.btn-search:hover {
    background-color: #2c2f39;
}

.btn-all {
    color: #6343e4;
    background-color: #181a20;
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    transition: color 0.2s ease-in;
}

.btn-all svg:not(:first-child) {
    margin-left: 2px;
}

.btn-add {
    color: #aaaa;
    margin-left: auto;
    font-size: 17px;
    transform: rotate(45deg);
}

.btn-next {
    color: #fff;
}

.btn-rewind-next {
    transform: rotate(180deg);
}


.content {
    overflow-y: auto;
    flex: 1;
    height: calc(100% - 32px);
}



.content-header {
    margin-top: 35px;
    padding: 0px 20px 6px 20px;
    display: flex;
}

.content-header:first-of-type {
    padding: 40px 20px 0 20px;
}

.content-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

code {
    color: #6343e4;
    background: #23272A;
    padding: 2px;
    border-radius: 5px;
    border-bottom: 0;
}

.pagebtn {
    min-height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px rgba(40, 42, 53, 0.28);
    cursor: pointer;
    background-color: #1f2128;
    transition: all 0.2s ease-in;
    overflow: auto;
}

.pagebtn button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #aaaa;
    transition: all 0.5s ease;

    border-bottom: 1px solid transparent;
    width: 5rem;
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 0.5rem;
    vertical-align: middle;
    font-size: 0.875em;
    font-weight: 400;
    border-radius: 0rem;
}

.pagebtn button:not(:first-child) {
    margin-left: 10px;
}

.pagebtn button:hover {
    border-color: #aaaa;
}

.pagebtn button.active {
    border-color: #fff;
    color: #fff;
}

.page {
    padding: 0;
    list-style-type: none;
    overflow: auto;
    flex: 1;
}

.page>div {
    display: none;
}

.list-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(198, 178, 250, 0.1);
    cursor: pointer;
    background-color: #1f2128;
    transition: all 0.2s ease-in;
    overflow: auto;
}


.list-item a {
    padding: 25px;
    width: 94%;
    left: 0;
    position: absolute;
}

.list-item:hover {
    background-color: #282a33;
}

.list-item-image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 16px;
}

.info-big-title,
.info-title {
    color: #fff;
}

.info-big-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}



.info-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.info-subtitle {
    font-size: 10px;
    color: #59657c;
}

@media (max-width:375px) {
    .artist {
        bottom: 50px;
    }

    .content-header {
        margin-top: 15px;
    }
}